{
  "openapi": "3.0.0",
  "info": {
    "title": "TinyFish Search API",
    "version": "1.0.0",
    "description": "Get structured ranked web results for a query.",
    "contact": {
      "name": "TinyFish Support",
      "email": "support@tinyfish.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.search.tinyfish.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Get your key from the API Keys page."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "operationId": "search",
        "summary": "Search the web",
        "description": "Search the web and get structured results. Returns ranked results with titles, snippets, and URLs.\n\n**Location and language resolution:**\n- If `location` is set but `language` is not, the language auto-resolves to the most predominantly used language in that country.\n- If `language` is set but `location` is not, the location auto-resolves to the country where that language is most predominantly used.\n- If neither `location` nor `language` is set, defaults to `us` and `en`.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query",
              "example": "web automation tools"
            },
            "required": true,
            "description": "Search query",
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country code for geo-targeted results",
              "example": "US"
            },
            "required": false,
            "description": "Country code for geo-targeted results",
            "name": "location",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Language code for result language",
              "example": "en"
            },
            "required": false,
            "description": "Language code for result language",
            "name": "language",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Search completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "The search query that was executed",
                      "example": "web automation tools"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "description": "Position in search results",
                            "example": 1
                          },
                          "site_name": {
                            "type": "string",
                            "description": "Site name",
                            "example": "example.com"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Text snippet from the result",
                            "example": "This is an example snippet..."
                          },
                          "title": {
                            "type": "string",
                            "description": "Page title",
                            "example": "Example Page"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Result URL",
                            "example": "https://example.com/page"
                          }
                        },
                        "required": [
                          "position",
                          "site_name",
                          "snippet",
                          "title",
                          "url"
                        ],
                        "description": "A single search result"
                      },
                      "description": "Array of search results"
                    },
                    "total_results": {
                      "type": "integer",
                      "description": "Total number of results",
                      "example": 10
                    }
                  },
                  "required": [
                    "query",
                    "results",
                    "total_results"
                  ],
                  "description": "Search response with results"
                },
                "example": {
                  "query": "web automation tools",
                  "results": [
                    {
                      "position": 1,
                      "site_name": "example.com",
                      "snippet": "Top web automation tools for 2026...",
                      "title": "Best Web Automation Tools",
                      "url": "https://example.com/web-automation-tools"
                    }
                  ],
                  "total_results": 10
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing or invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - active subscription or credits required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Search API access is not enabled for this account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "404": {
            "description": "Search API is not available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "503": {
            "description": "Search service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "listSearchUsage",
        "summary": "List search usage",
        "description": "List search usage records for the authenticated user. Returns paginated results with query details, status, and result counts.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "start_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "end_before",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "failed"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Search usage retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "request_id": {
                            "type": "string"
                          },
                          "query": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "integer"
                          },
                          "result_count": {
                            "type": "integer"
                          },
                          "results": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "position": {
                                  "type": "integer",
                                  "description": "Position in search results",
                                  "example": 1
                                },
                                "site_name": {
                                  "type": "string",
                                  "description": "Site name",
                                  "example": "example.com"
                                },
                                "snippet": {
                                  "type": "string",
                                  "description": "Text snippet from the result",
                                  "example": "This is an example snippet..."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Page title",
                                  "example": "Example Page"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Result URL",
                                  "example": "https://example.com/page"
                                }
                              },
                              "required": [
                                "position",
                                "site_name",
                                "snippet",
                                "title",
                                "url"
                              ],
                              "description": "A single search result"
                            }
                          },
                          "cached": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "response_size_bytes": {
                            "type": "integer",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "request_id",
                          "query",
                          "status_code",
                          "result_count",
                          "results",
                          "cached",
                          "response_size_bytes",
                          "created_at"
                        ],
                        "description": "A single search usage record"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "page",
                    "total_pages",
                    "has_more"
                  ],
                  "description": "Paginated search usage response"
                },
                "example": {
                  "items": [
                    {
                      "id": 1,
                      "request_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "query": "web automation tools",
                      "status_code": 200,
                      "result_count": 10,
                      "results": [
                        {
                          "position": 1,
                          "site_name": "example.com",
                          "snippet": "Top web automation tools for 2026...",
                          "title": "Best Web Automation Tools",
                          "url": "https://example.com/web-automation-tools"
                        }
                      ],
                      "cached": null,
                      "response_size_bytes": 4096,
                      "created_at": "2026-01-14T10:30:00Z"
                    }
                  ],
                  "total": 1,
                  "limit": 100,
                  "page": 1,
                  "total_pages": 1,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Search API access is not enabled for this account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "404": {
            "description": "Search API is not available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          },
          "503": {
            "description": "Search service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_API_KEY",
                            "INVALID_API_KEY",
                            "INVALID_INPUT",
                            "RATE_LIMIT_EXCEEDED",
                            "INTERNAL_ERROR",
                            "UNAUTHORIZED",
                            "FORBIDDEN",
                            "NOT_FOUND",
                            "SERVICE_BUSY",
                            "TIMEOUT",
                            "INSUFFICIENT_CREDITS",
                            "CONTENT_POLICY_VIOLATION",
                            "MAX_STEPS_EXCEEDED",
                            "SITE_BLOCKED",
                            "TASK_FAILED",
                            "CANCELLED"
                          ],
                          "description": "Machine-readable error code",
                          "example": "INVALID_INPUT"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Field \"url\" is required and must be a string"
                        },
                        "details": {
                          "nullable": true,
                          "description": "Additional error details (validation errors, etc.)"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Standard error response format"
                }
              }
            }
          }
        }
      }
    }
  }
}
